
:root {
    --shadowShadowsLg: 0 12px 16px -4px rgba(16,24,40,0.08), 0 4px 6px -2px rgba(16,24,40,0.03);  
    --shadowShadowsXs: 0 1px 2px 0 rgba(16,24,40,0.05);  
    --shadowShadowsSm: 0 1px 3px 0 rgba(16,24,40,0.1), 0 1px 2px 0 rgba(16,24,40,0.06);  
    --shadowShadowsMd: 0 4px 8px -2px rgba(16,24,40,0.1), 0 2px 4px -2px rgba(16,24,40,0.06);  
    --shadowShadowsXl: 0 20px 24px -4px rgba(16,24,40,0.08), 0 8px 8px -4px rgba(16,24,40,0.03);  
    --shadowShadows2xl: 0 24px 48px -12px rgba(16,24,40,0.18);  
    --shadowShadows3xl: 0 32px 64px -12px rgba(16,24,40,0.14);  
}